@import "@servicenow/sass-kit/host";

:host {
  display: block;
}

.wrapper {
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", "Arial",
    "sans-serif";
  padding: 1em;
}

.textArea {
  overflow: hidden;
  word-wrap: break-word;
  font-size: 2em;
  border: 2px solid black;
  min-height: 30vh;
}

button {
  width: 25%;
  min-height: 3em;
  background-color: rgba(25, 25, 25, 1);
  color: white;
  outline: none;
  border: 1px solid rgba(50, 50, 50, 1);

  &:hover {
    background-color: rgba(55, 55, 55, 1);
  }
}
